<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Festa Com Papel</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="../../vendor/iconfonts/mdi/css/materialdesignicons.min.css" th:href="@{~/vendor/iconfonts/mdi/css/materialdesignicons.min.css}">
	<link rel="stylesheet" href="../../vendor/css/vendor.bundle.base.css" th:href="@{~/vendor/css/vendor.bundle.base.css}">
	<link rel="stylesheet" href="../../vendor/css/vendor.bundle.addons.css" th:href="@{~/vendor/css/vendor.bundle.addons.css}">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{~/css/style.css}">
	<!-- endinject -->
	<link rel="shortcut icon" href="images/favicon.png" />
</head>

<div th:fragment="scripts">
	<!-- plugins:js -->
	<script src="../../vendor/js/vendor.bundle.base.js" th:src="@{~/vendor/js/vendor.bundle.base.js}"></script>
	<script src="../../vendor/js/vendor.bundle.addons.js" th:src="@{~/vendor/vendor.bundle.addons.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="../../static/js/off-canvas.js" th:src="@{~/js/off-canvas.js}"></script>
	<script src="../../static/js/misc.js" th:src="@{~/js/misc.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="../../static/js/dashboard.js" th:src="@{~/js/dashboard.js}"></script>
	<!-- End custom js for this page-->

</div>