<!DOCTYPE html>
<html>

<head th:replace="fragmentos/fragmentos-layout :: head"></head>


<body>

<div th:replace="fragmentos/fragmentos-layout :: navbar"></div>


	<form th:action="@{/form-pedido}" th:object="${pedido}" method="post">
		<div class="container profile profile-view" id="profile">
			<div class="form-row profile-row">
				<div class="col-md-8 col-lg-12 offset-lg-0">
					<h1>Produto</h1>
					<div class="form-group">
						<select class="form-control" th:field="*{produtos}"><optgroup>
								<option th:each="produto : ${produtos}"
									th:value="${produto.id}"
									th:text="${produto.nome}"></option>
							</optgroup></select>
					</div>
					<div class="form-row">
						<div class="col-md-12 content-right">
							<button class="btn btn-primary form-btn" type="submit">Adicionar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="container profile profile-view" id="profile">
		<div class="form-row profile-row">
			<div class="col-md-8 col-lg-12 offset-lg-0">
				<div class="form-row"></div>
				<div class="form-group">
					<h1>Produtos Selecionados</h1>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Quantidade</th>
									<th>Preço</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<th:block th:each="produtoCarrinho : ${carrinho}">
								<tr>
									<td th:text="${produtoCarrinho.nome}"></td>
									<td th:text="${produtoCarrinho.quantidadeProduto}"></td>
									<td th:text="${produtoCarrinho.precoProduto}"></td>
									<td></td>
									<td>
										<form method="POST"
											th:action="@{/form-pedido/remover/{id}(id=${produtoCarrinho.id})}">
											<button type="submit" style="color: red">X</button>
										</form>
								</tr>
							</th:block>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form th:action="@{/salva-pedido}" th:object="${pedido}" method="post">
		<div class="container profile profile-view" id="profile">
			<div class="form-row profile-row">
				<div class="col-md-8 col-lg-12 offset-lg-0">
					<h1>Pedido</h1>
					<hr>
					<div class="form-group">
						<label>Cliente</label><select class="form-control"
							th:field="*{cliente.id}"><optgroup>
								<option th:each="cliente : ${clientes}"
									th:value="${cliente.id}" th:text="${cliente.nome}"></option>
							</optgroup></select>
					</div>

					<hr>
					<div class="form-row">
						<div class="col-sm-12 col-md-2">
							<div class="form-group">
								<label>Desconto</label><input class="form-control" name="descontoPedido"
									id="campoDesconto" th:field="*{descontoPedido}" type="number"
									onChange="calculaDesconto(this.value)">
							</div>
						</div>
					</div>

					<script>
					function calculaDesconto(val){
						var valorSemDesconto = document.getElementById("valorSemDesconto").innerHTML;
						if(val > 100){
							alert("NÃO SE DÁ DESCONTO MAIOR QUE 100%");
							document.getElementById("campoDesconto").innerHTML = 0;
							location.reload(true);
						} else {
						var desconto = (val / 100) * valorSemDesconto;
						var valorComDesconto = valorSemDesconto - desconto;
						document.getElementById("ValorDoDesconto").innerHTML = desconto;
						document.getElementById("valorTotal").innerHTML = valorComDesconto;
						}
					}
					</script>

					<div class="form-row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label><strong>SubTotal</strong></label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label th:text="${valorTotal}" id="valorSemDesconto"
									class="float-right">XXXX</label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label><strong>Desconto</strong></label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label id="ValorDoDesconto" class="float-right"></label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label><strong>Total</strong></label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label id="valorTotal" class="float-right"></label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>Data de Entrega</label><input class="form-control" name="dataEntregaPedido"
									th:field="*{dataEntregaPedido}" type="date">
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>Valor do frete:</label><input class="form-control"
									th:field="*{frete}" type="text" name="frete">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12 content-right">
							<button class="btn btn-primary form-btn" type="submit">Salvar</button>
							<button class="btn btn-danger form-btn" type="reset">Limpar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</body>

</html>