<!DOCTYPE html>
<html>

<head th:replace="fragmentos/fragmentos-layout :: head"></head>

<body>

<div th:replace="fragmentos/fragmentos-layout :: navbar"></div>


	<form th:action="@{/form-cliente}" th:object="${cliente}" method="post">
		<div class="container profile profile-view" id="profile">
			<div class="form-row profile-row">
				<div class="col-md-4 relative">
					<div class="avatar">
						<div class="avatar-bg center"></div>
					</div>
					<input type="file" class="form-control" name="avatar-file">
				</div>
				<div class="col-md-8">
					<h1>Cliente</h1>
					<hr>

					<input type="hidden" name="id"
						th:value="${cliente.id}" />


					<div class="form-row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>Nome</label><input class="form-control" type="text"
									name="nome" th:value="${cliente.nome}">
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>SobreNome</label><input class="form-control" type="text"
									name="sobrenome" th:value="${cliente.sobrenome}">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Email </label><input class="form-control" type="email"
							name="email"
							th:value="${cliente.email}">
					</div>
					<div class="form-row">
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>Telefone</label><input class="form-control" type="tel"
									name="telefone" th:value="${cliente.telefone}"
									autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>CEP</label><input class="form-control" type="text"
									name="cep" th:value="${cliente.cep}"
									autocomplete="off">
							</div>
						</div>
					</div>
					<hr>
					<div class="form-row">
						<div class="col-md-12 content-right">
							<input class="btn btn-primary form-btn" type="submit"
								value="submit" name="submit">
							<button class="btn btn-danger form-btn" type="reset">Limpar</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>

<div th:replace="fragmentos/fragmentos-footer :: footer"></div>

</body>

</html>