<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragmentos/fragmentos-layout :: head"></head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav th:insert="fragmentos/fragmentos-navbar :: navBar"></nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <nav th:insert="fragmentos/fragmentos-menus :: navbarLateral"></nav>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <form th:action="@{/form-cliente/salva}" th:object="${cliente}"
                              method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${cliente.id}"/>
                            <input type="hidden" name="cidade" th:value="${cliente.cidade}"/>
                            <input type="hidden" name="endereco" th:value="${cliente.endereco}"/>
                            <input type="hidden" name="estado" th:value="${cliente.estado}"/>
                            <input type="hidden" name="status" th:value="${cliente.status}"/>

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Cadastro de Clientes</h4>
                                    <form class="form-sample">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Nome</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.nome}" name="nome"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Sobrenome</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.sobrenome}"
                                                               name="sobrenome" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Sexo</label>
                                                    <div class="col-sm-9">
                                                        <select th:field="${cliente.sexo}" name="sexo"
                                                                class="form-control">
                                                            <option th:value="'Masculino'">Masculino</option>
                                                            <option th:value="Feminino">Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="card-description">
                                            Contato
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Celular</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.celular}" name="celular"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Telefone</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.telefone}"
                                                               name="telefone" class="form-control" label="Maranhão"
                                                               value="Maranhão">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Email</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.email}" name="email"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="card-description">
                                            Endereço
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Rua</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.rua}" name="rua"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Número</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.numero}" name="numero"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Bairro</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.bairro}" name="bairro"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">CEP</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" th:value="${cliente.cep}" name="cep"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Imagem</label>
                                            <input type="file" name="uploadFile" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control file-upload-info" disabled
                                                       placeholder="Upload Image">
                                                <span class="input-group-append">
                                                <input class="file-upload-browse btn btn-info" name="arquivo" type="file"></input>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-success mr-2">Submit</button>
                                                <button type="reset" class="btn btn-light">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:insert="fragmentos/fragmentos-footer :: footer"></div>
                </div>
            </div>
        </div>

        <div th:insert="fragmentos/fragmentos-layout :: scripts"></div>

</body>

</html>