<!DOCTYPE html>
<html>

<head th:replace="fragmentos/fragmentos-layout :: head"></head>

<body>

<div th:replace="fragmentos/fragmentos-layout :: navbar"></div>

	
	<main class="container">
	<p></p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${clientes}">
				<td th:text="${cliente.nomeFormato}"></td>
				<td th:text="${cliente.telefone}"></td>
				<td th:text="${cliente.email}"></td>
				<th><a
					th:href="@{/cliente/edicao/{id}(id=${cliente.id})}"
					class="btn btn-info btn-sm">Editar</a>
				<a
					th:href="@{/cliente/remover/{id}(id=${cliente.id})}"
					class="btn btn-danger btn-sm">Excluir</a></th>
			</tr>
		</tbody>
	</table>

	</main>
</body>
</html>