<!DOCTYPE html>
<html lang="en">

<head th:insert="fragmentos/fragmentos-layout :: head"></head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav th:insert="fragmentos/fragmentos-navbar :: navBar"></nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->

        <nav th:insert="fragmentos/fragmentos-menus :: navbarLateral"></nav>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de Clientes</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Imagem</th>
                                            <th>Nome</th>
                                            <th>Endereço</th>
                                            <th>Celular</th>
                                            <th>Telefone</th>
                                            <th>Email</th>
                                            <th>Comandos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="cliente : ${clientes}">
                                            <td>
                                                <img data-th-src="@{|${cliente.imagem}|}"/>
                                            </td>
                                            <td th:text="${cliente.nomeFormatado}"></td>
                                            <td th:text="${cliente.endereco}"></td>
                                            <td th:text="${cliente.celular}"></td>
                                            <td th:text="${cliente.telefone}"></td>
                                            <td th:text="${cliente.email}"></td>
                                            <td>
                                                <a th:href="@{/cliente/edicao/{id}(id=${cliente.id})}"
                                                   style="text-decoration: none">
                                                    <button class="btn btn-success">Editar
                                                    </button>
                                                </a>
                                                <a th:href="@{/cliente/remover/{id}(id=${cliente.id})}"
                                                   style="text-decoration: none">
                                                    <button class="btn btn-danger">Excluir
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <div th:insert="fragmentos/fragmentos-footer :: footer"></div>

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<div th:insert="fragmentos/fragmentos-layout :: scripts"></div>

</body>

</html>