<!DOCTYPE html>
<html lang="en">

<head th:insert="fragmentos/fragmentos-layout :: head"></head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav th:insert="fragmentos/fragmentos-navbar :: navBar"></nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <nav th:insert="fragmentos/fragmentos-menus :: navbarLateral"></nav>

        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <form th:action="@{/form-categoria/salva}" th:object="${categoria}"
                              method="post" enctype="multipart/form-data">

                            <input type="hidden" name="id" th:value="${categoria.id}"/>
                            <input type="hidden" name="status" th:value="${categoria.status}"/>

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Cadastro de Categorias</h4>
                                    <div class="form-group">
                                        <label for="inputNomeDaCategoria">Nome</label>
                                        <input id="inputNomeDaCategoria" type="text" class="form-control"
                                               name="nome" placeholder="Nome da categoria"
                                               th:value="${categoria.nome}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescricaoDaCategoria">Descrição</label>
                                        <input id="inputDescricaoDaCategoria" th:value="${categoria.descricao}" name="descricao" type="text" class="form-control"
                                               placeholder="Descrição da categoria">
                                    </div>
                                    <div class="form-group">
                                        <label>Imagem</label>
                                        <input type="file" name="uploadFile" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   placeholder="Upload Image">
                                            <span class="input-group-append">
                          <input class="file-upload-browse btn btn-info" name="arquivo" type="file"></input>
                        </span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                                    <button type="reset" class="btn btn-light">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div th:insert="fragmentos/fragmentos-footer :: footer"></div>
        </div>
    </div>
</div>

<div th:insert="fragmentos/fragmentos-layout :: scripts"></div>

</body>

</html>