<!DOCTYPE html>
<html>

<head th:replace="fragmentos/fragmentos-layout :: head"></head>

<body>

<div th:replace="fragmentos/fragmentos-layout :: navbar"></div>


	<main class="container">
	<p></p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrição</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="categoria : ${categorias}">
				<td th:text="${categoria.nome}"></td>
				<td th:text="${categoria.descricao}"></td>
				<th><a
					th:href="@{/categoria/edicao/{id}(id=${categoria.id})}"
					class="btn btn-info btn-sm">Editar</a></th>
				<th><a
					th:href="@{/categoria/remover/{id}(id=${categoria.id})}"
					class="btn btn-danger btn-sm">Excluir</a></th>
			</tr>
		</tbody>
	</table>

	</main>
</body>
</html>