<!DOCTYPE html>
<html lang="en">

<head th:insert="fragmentos/fragmentos-layout :: head"></head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav th:insert="fragmentos/fragmentos-navbar :: navBar"></nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->

        <nav th:insert="fragmentos/fragmentos-menus :: navbarLateral"></nav>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de Categorias Excluidas</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nome</th>
                                            <th>Descrição</th>
                                            <th>Status</th>
                                            <th>Comandos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="categoria : ${categorias}">
                                            <td>
                                                <img data-th-src="@{|${categoria.imagem}|}"/>
                                            </td>
                                            <td th:text="${categoria.nome}"></td>
                                            <td th:text="${categoria.descricao}">Photoshop</td>
                                            <td>
                                                <label th:text="${categoria.status}"
                                                       class="badge badge-danger"></label>
                                            </td>
                                            <td>
                                                <a th:href="@{/lixeira/restaurar-categoria/{id}(id=${categoria.id})}" style="text-decoration: none">
                                                    <button class="btn btn-success">Restaurar
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de Produtos Excluidos</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nome</th>
                                            <th>Descrição</th>
                                            <th>Categoria</th>
                                            <th>Valor do Produto</th>
                                            <th>Quantidade</th>
                                            <th>Valor Unitário</th>
                                            <th>Status</th>
                                            <th>Comandos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="produto : ${produtos}">
                                            <td>
                                                <img data-th-src="@{|${produto.imagem}|}"/>
                                            </td>
                                            <td th:text="${produto.nome}"></td>
                                            <td th:text="${produto.descricao}"></td>
                                            <td th:text="${produto.categoria.nome}"></td>
                                            <td th:text="${produto.preco}"></td>
                                            <td th:text="${produto.quantidade}"></td>
                                            <td th:text="${produto.valorUnitario}"></td>

                                            <td>
                                                <label th:text="${produto.status}"
                                                       class="badge badge-danger"></label>
                                            </td>
                                            <td>
                                                <a th:href="@{/lixeira/restaurar-produto/{id}(id=${produto.id})}" style="text-decoration: none">
                                                    <button class="btn btn-success">Restaurar
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Clientes Excluidos</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Nome</th>
                                        <th>Endereço</th>
                                        <th>Celular</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                        <th>Comandos</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cliente : ${clientes}">
                                        <td>
                                            <img data-th-src="@{|${cliente.imagem}|}"/>
                                        </td>
                                        <td th:text="${cliente.nomeFormatado}"></td>
                                        <td th:text="${cliente.endereco}"></td>
                                        <td th:text="${cliente.celular}"></td>
                                        <td th:text="${cliente.telefone}"></td>
                                        <td th:text="${cliente.email}"></td>
                                        <td>
                                            <a th:href="@{/lixeira/restaurar-cliente/{id}(id=${cliente.id})}"
                                               style="text-decoration: none">
                                                <button class="btn btn-success">Restaurar
                                                </button>
                                            </a>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <div th:insert="fragmentos/fragmentos-footer :: footer"></div>

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<div th:insert="fragmentos/fragmentos-layout :: scripts"></div>

</body>

</html>