<!DOCTYPE html>
<html>

<head th:replace="fragmentos/fragmentos-layout :: head"></head>

<body>

<div th:replace="fragmentos/fragmentos-layout :: navbar"></div>

<!--
            <div class="alert alert-info absolue center" role="alert">
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <span>Profile save with success</span>
            </div> -->

<form th:action="@{/form-produto}" th:object="${produto}" method="post">
    <div class="container profile profile-view" id="profile">
        <div class="form-row profile-row">
            <div class="col-md-4 relative">
                <div class="avatar">
                    <div class="avatar-bg center"></div>
                </div>
            </div>
            <div class="col-md-8">
                <h1>Produto</h1>
                <hr>

                <input type="hidden" name="id"
                       th:value="${produto.id}"/>


                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>Nome</label><input class="form-control" type="text"
                                                      name="nome" th:field="*{nome}">
                        </div>
                        <div class="form-group">
                            <label>Quantidade</label><input class="form-control" type="text"
                                                            name="quantidadeProduto" th:field="*{quantidadeProduto}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>Preço</label><input class="form-control" type="text"
                                                       name="precoProduto" th:field="*{precoProduto}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Categoria</label><select class="form-control"
                                                    th:field="*{categoria.id}">
                    <optgroup>
                        <option th:each="categoria : ${categorias}"
                                th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                    </optgroup>
                </select>
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea name="descricaoProduto" th:field="*{descricaoProduto}" class="form-control"></textarea>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-12 content-right">
                        <input type="submit" class="btn btn-primary form-btn"
                               label="salvar">
                        <button class="btn btn-danger form-btn" type="reset">Limpar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div th:replace="fragmentos/fragmentos-footer :: footer"></div>

</body>

</html>