<!DOCTYPE html>
<html lang="en">

<head th:insert="fragmentos/fragmentos-layout :: head"></head>

<body>
<div class="container-scroller">
	<!-- partial:../../partials/_navbar.html -->
	<nav th:insert="fragmentos/fragmentos-navbar :: navBar"></nav>

	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<!-- partial:../../partials/_sidebar.html -->

		<nav th:insert="fragmentos/fragmentos-menus :: navbarLateral"></nav>

		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Lista de Produtos</h4>
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
										<tr>
											<th></th>
											<th>Nome</th>
											<th>Descrição</th>
                                           <th>Categoria</th>
                                           <th>Valor do Produto</th>
											<th>Quantidade</th>
											<th>Valor Unitário</th>
                                           <th>Status</th>
                                           <th>Comandos</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="produto : ${produtos}">
											<td>
												<img data-th-src="@{|${produto.imagem}|}"/>
											</td>
											<td th:text="${produto.nome}"></td>
											<td th:text="${produto.descricao}"></td>
                                           <td th:text="${produto.categoria.nome}"></td>
                                           <td th:text="${produto.preco}"></td>
                                           <td th:text="${produto.quantidade}"></td>
                                           <td th:text="${produto.valorUnitario}"></td>

                                            <td>
												<label th:text="${produto.status}"
													   class="badge badge-success"></label>
											</td>
											<td>
												<a th:href="@{/produto/edicao/{id}(id=${produto.id})}" style="text-decoration: none">
													<button class="btn btn-success">Editar
													</button>
												</a>
												<a th:href="@{/produto/remover/{id}(id=${produto.id})}" style="text-decoration: none">
													<button class="btn btn-danger">Excluir
													</button>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:../../partials/_footer.html -->
			<div th:insert="fragmentos/fragmentos-footer :: footer"></div>

			<!-- partial -->
		</div>
		<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>

<div th:insert="fragmentos/fragmentos-layout :: scripts"></div>

</body>

</html>